@import './Common.scss';

.commentalert-title {
    font-family: $font-body;
    font-size: 14px;
    color: #000;
}

.commentalert-content {
    font-family: $font-body;
    font-size: 13px;
    color: #888;
    margin-top: 3px;
}

.commentalert-username {
    font-weight: bold;
}
