@import './Common.scss';

.App {
    display: flex;
    width: 100%;
    min-width: 15em;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f6f8;
}
