@import './Common.scss';
.multer {
    height: calc(100vh - 3em);
}

.multer-form-container {
    width: 100%;
    max-width: 40em;
    height: calc(100vh - 3em);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 16px 5em;
    box-sizing: border-box;
    overflow: hidden;

    .profile-image {
        > img {
            width: 168px;
            height: 168px;
            border-radius: 50%;
            border: 1px solid lightgray !important;
        }
    }
    > form {
        .input-file-button {
            margin-top: 10vh;
            padding: 6px 15px;
            background-color: $--btn--color;
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.679);
            font-weight: bold;
            cursor: pointer;
        }
        #input-file {
            display: none;
        }
    }

    .edit-ConfirmBtn {
        @include edit-ConfirmBtn();
        position: absolute;
        bottom: 1.5em;
        left: 16px;
        right: 16px;
        width: auto;
    }
}
