@import './Common.scss';

.newpostpage-container {
    width: 100%;
    height: calc(100vh - 3em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f6f8;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.newpostpage {
    width: 100%;
    max-width: 40em;
    height: fit-content;
    min-height: calc(100vh - 3em);
    background-color: white;
    padding-bottom: 4em;

    border-left: 1px solid rgba(0, 0, 0, 0.04);
    border-right: 1px solid rgba(0, 0, 0, 0.04);
}
